body {
  background-color:#d9d9d9;
  overflow:scroll;
}

.p2p {
  background-color: white;
}

.header h1 {
  text-align:center;
  color:white;
  font-family:sans-serif;
  background-color:#336699;
  padding-top:1.5%;
  padding-bottom:1.5%;
  margin-top:-.6%;
}

.header img {
  max-width:100%;
  padding-top:3%;
}

.header p {
  font-size:150%;
}

#quote {
  font-style:italic;
  font-size:160%;
  max-width: 90%;
  line-height:200%;
}

.p2p h2 {
  text-align:center;
  font-size:240%;
  margin-top:15%;
  padding-top:5%;
  font-family:sans-serif;
  color:#007399;
}

.p2p p {
  font-size:190%;
  font-family:monospace;
  margin-left:auto;
  margin-right:auto;
  line-height:175%;
  color:#002b80;
  padding-bottom:5%;
  max-width: 90%;
}

.transactions h1 {
  text-align:center;
  font-size:300%;
  font-family:"Times New Roman";
}

.transactions img {
  max-width:100%;
  margin-bottom: 5%;
}

#transactions {
  font-size:160%;
  line-height:200%;
  max-width: 95%;
  margin-left: 5%;
}

#main {
  font-size:160%;
  line-height:200%;
  max-width: 95%;
  margin-left: 5%;
}

@media only screen and(min-width: 768px) {
  #transactions {
    max-width: 90%;
  }

  #main {
    max-width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .header h1 {
    font-size:260%;
    padding-top:1.5%;
    padding-bottom:1.5%;
    margin-top:-.6%;
  }
  
  .header img {
    width:55%;
    padding-top:3%;
  }
  
  .header p {
    text-align:left;
    margin-left:62%;
    margin-right:5%;
    font-size:120%;
  }
  
  #quote {
    font-size:160%;
    margin-left:58%;
    margin-top:-27%;
  }
  
  .transactions img {
    width:50%;
    margin-bottom: 5%;
  }
  
  #transactions {
    font-size:160%;
    margin-left:55%;
    margin-top:-40%;
    line-height:200%;
    width: 40%;
  }
  
  #main {
    font-size:160%;
    line-height:200%;
    width: 80%;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 1100px) {
  #main {
    margin-top: 10%;
  }
}

@media only screen and (min-width: 1350px) {
  .p2p p {
    width: 65%;
  }
  #main {
    margin-top: 15%;
  }
}

@media only screen and (min-width: 1500px) {
  .p2p p {
    width: 60%;
  }
  #main {
    margin-top: 20%;
  }
}

@media only screen and (min-width: 1600px) {
  #main {
    margin-top: 25%;
  }
}